name: Release

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  packages: write
  id-token: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.actor != 'peter-evans[bot]'
    env:
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_AUTHOR_NAME: "GitHub Action"
      GIT_AUTHOR_EMAIL: "action@github.com"
      GIT_COMMITTER_NAME: "GitHub Action"
      GIT_COMMITTER_EMAIL: "action@github.com"

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
        registry-url: 'https://npm.pkg.github.com'

    - name: Install dependencies
      run: npm ci

    - name: Run release-it
      run: npx release-it --ci --increment=patch --npm.skipChecks --github.release=false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}